<div class="products-grid">
    <div class="container">
        <header>
            <h3 class="head text-center">Latest Products</h3>
        </header>
        <div class="col-md-4 product simpleCart_shelfItem text-center" *ngFor="let item of list_product_display, let i = index">
            <a routerLink="/single"><img src="{{item.product_img}}" alt="" /></a>
            <div class="mask">
                <a routerLink="/single">Quick View</a>
            </div>
            <a class="product_name" routerLink="/single">{{item.product_name | uppercase}}</a>
            <p>
                <a class="item_add" href="#">
                    <i></i> <span class="item_price">{{item.price | currency:'USD':true}}</span>
                </a>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>