<wid_header></wid_header>

<mod_main_menu></mod_main_menu>

<div class="container">
    <div class="products-page">
        <div id="sidebar">
            <mod_sidebar></mod_sidebar>
        </div>
        <div class="new-product">
            <mod_detail_product></mod_detail_product>
            <mod_reviews_tabs></mod_reviews_tabs>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<mod_related_products></mod_related_products>

<mod_news_letter></mod_news_letter>

<wid_footer></wid_footer>

<script src="js/responsive-tabs.js"></script>
<script type="text/javascript">
    $( '#myTab a' ).click( function ( e ) {
    e.preventDefault();
    $( this ).tab( 'show' );
    } );

    $( '#moreTabs a' ).click( function ( e ) {
    e.preventDefault();
    $( this ).tab( 'show' );
    } );

    ( function( $ ) {
        // Test for making sure event are maintained
        $( '.js-alert-test' ).click( function () {
        alert( 'Button Clicked: Event was maintained' );
        } );
        fakewaffle.responsiveTabs( [ 'xs', 'sm' ] );
    } )( jQuery );
</script>