<div class="row">
	<div class="col-md-4 col-sm-6" *ngFor="let item of list_product_display, let i = index">
		<div class="single-shop-product">
			<div class="product-upper">
				<img src="{{item.product_img}}" class="img-responsive" alt="" />
			</div>
			<div class="info-product">
				<a routerLink="/single">
					<p class="title">{{item.product_name}}</p>
				</a>
				<ins>{{item.price | currency:'USD':true}}</ins>
				<br/>
				<p class="brief">{{item.brief}}</p>
			</div>
			<div class="product-option-shop">
				<a class="add-to-cart-button" href="#">Add to cart</a>
			</div>
		</div>
	</div>
</div>